/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  /* Style tab links */
  .tablink {
    background-color: transparent;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 30px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: white;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
    display: inline;
  }
  
  #Chinese {background-color: #f2b15c6b;}
  #Japanese {background-color: #F2B05C;}
  #Korean {background-color: #DED0C0;}
  #Western {background-color: #C99873;}
  .card {
        
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 31%;
    border-radius: 5px;
  }
  
  .card:hover {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
    width: 31.5%;
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 5px;
    border-radius: 0px 0px 5px 5px;
    background-color:whitesmoke;
    color: #864937;
  }

  /*
選單線
*/
.line {
  width: 24px;
  height: 24px;
  background: transparent;
  cursor: pointer;
  display: block;
  padding: 16px;
  position: fixed;
  z-index: 2;
}
.line .menu,
.line .menu::before,
.line .menu::after {
  background: #222;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  transition: background ease .3s, top ease .3s .3s, transform ease .3s;
  width: 20px;
}
.line .menu {
  left: 18px;
  top: 27px;
}

.line .menu::before {
  top: -6px;
}

.line .menu::after {
  top: 6px;
}
/*
點選選單變叉叉
*/
#menu:checked + .line .menu {
  background: transparent;
}

#menu:checked + .line .menu::before {
  transform: rotate(45deg);
}

#menu:checked + .line .menu::after {
  transform: rotate(-45deg);
}

#menu:checked + .line .menu::before,
#menu:checked + .line .menu::after {
  top: 0;
  transition: top ease .3s, transform ease .3s .3s;
}

/*
選單開合
*/
#menu:checked ~ .menu-list {
  width: 300px;
}

.menu-list {
  width: 60px;
  height: 100vh;
  background: transparent;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, .1); */
  padding-top: 60px;
  position: fixed;
  z-index: 1;
  transition: all .6s;
  overflow: hidden;
}
/*
選單向外推
*/
.menu-list ul {
  list-style: none;
  margin-left:70px;
  padding: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .1);
  background: whitesmoke;
  border-radius: 5px;
}
.menu-list ul>li{
  display:block;
  width:300px;
  font-size:30px;
  color: #864937;
}
.menu-list ul>li:hover{
  background-color: #DED0C0;
  border-radius: 5px;
  width: auto;
}
/*
隱藏核許框
*/
input#menu {
display: none;
}