body{
  background-color: #CA6826;

}

.button_div {
  /* height: 500px;  */
  line-height: 1000px;
  text-align: center;
  }


#login {
  background-color: #C99873;
  color: black;
  border: 2px solid #864937;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  font-size: 20px;
}

#login:hover {
  background-color: #864937;
  color: white;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  font-size: 8px;
  height: 50px;
  width: 100px;
  font-size: 20px;
}

#start {
  background-color: #F2B05C;
  color: black;
  border: 2px solid #D58431;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  font-size: 8px;
  height: 50px;
  width: 100px;
  font-size: 20px;

}

#start:hover {
  background-color: #D58431;
  color: white;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  font-size: 8px;
  height: 50px;
  width: 100px;
  font-size: 20px;
}
